*{
    font-family: Calibri;
}

body{
    margin: 0;
    padding: 0; 
    background-color: aliceblue;
    /* background-color:rgba(225, 255, 254, 0.658); */
}

h1{
    text-align: center;
    /* margin-top: 5em; */
    margin-bottom: 10px;
    color: rgb(3, 69, 84);
    padding-top: 5em;
    
}

header {
    width: 100%;
    position: fixed; 
    
}
.image-container{
    display:flex;
    /* margin-right: 50px; */
    /* margin-right: auto;
    margin-left: auto; */
    justify-content:center;
    

   
}

a:link {
    text-decoration: none;
  }
  

/* a:visited{
    text-decoration: none;
} */

figcaption{
    color: rgb(3, 69, 84);
    text-align: center;
}

ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(3, 69, 84);
    text-align: center;
    /* margin:auto;
    padding: auto; */
    
    
}

li{
    display: inline-block;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 16px;
    
  }

img {
    float: left;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 6px solid rgb(3, 69, 84);
    border-radius: 5px;
}

table, td, th {  
    border: 2px solid rgb(3, 69, 84);
    text-align: center;
  }
  
  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 50%;
  }
  
  th, td {
    padding: 15px;
  }

  td{
    font-size: 16px;
  }

.contact{
    font-size: 18px;
    display:flex;
    justify-content:center;
    gap: 5em;
}


@media only screen and (max-width: 400px){
  
    .image-container{
        display:flex;
        /* margin-right: 50px; */
        /* margin-right: auto;
        margin-left: auto; */
        justify-content:center;
        flex-direction: column;
        
       
    }
    .contact{
        flex-direction: column;
        align-items: center;
        
    }
    img {
        float: left;
        width: 300px;
        height: 300px;
        object-fit: cover;
        border: 6px solid rgb(3, 69, 84);
        border-radius: 5px;
        
    }
}

/* table, th, td{
    border: 1px solid black;
    text-align: center;
} */

/* .photo{
    width:300px;
    height:300px;

} */
/* .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
  } */